$primary:#e50914;
$secondary:rgba(23, 17, 17, 0.8);
$tri: white;
$font: Arial, Helvetica;
$bg-img: linear-gradient(rgba(0,0,0,.6),rgba(0,0,0,.8)),url('/imgs/background.jpg') ;
$text: center;
$width:95%;
$margin: 0 auto;
$flex:flex;

